.buttonLog{
    background-color: rgb(66, 146, 19);
}
body{
   background-image: url(viajes.jpg);
    /*background-color: rgb(69, 42, 165);*/
}

.buttonHome {
background-color: #6F93A3;
}

.buttonReg {
    background-color: aqua;
}