
body{
  background-color: #233371;
   margin-left: 150px;
  background-image: url(viajes.jpg);
  background-repeat:no-repeat;
  
}
.home {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #6F93A3;
 width: 620px; ;
 height: 510px;
 margin-top: 150px;
 margin-left: 650px;
border-radius: 20px;
font-size: 1.8rem;
}

.logo {
 display: flex;
 border-radius: 130px 130px 130px 130px;
 width:245px;
 height:230px;
 box-shadow: 7px 7px 7px;
 margin: 20px;
 margin-top: -150px;
}


.inputHome {
    border-radius: 5px 5px 5px 5px;
    border: solid 2px black;
    background-color: whitesmoke;
    width: 290px;
    height: 35px;
    margin: 3px;
    padding: 2px;
}

.buttonLog{
    background-color: #1fc2d4;
    border: solid 2px black;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    margin: 20px;
    font-size: 20px;
    box-shadow: 7px 7px 7px;

}

.buttonReg {
    background-color: #6F93A3;
    border: solid 2px #6F93A3;
    font-size: 16px;
    font-style: italic;
    width: 108px;
    height: 21px;
    margin: 10px;
    
}

.accessGoogle{
    background-image: url(../src/assets/logogoogle.png);
    background-size: 50px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    padding: 7px;
    width: 170px;
    height: 36px;
    font-size: 14px;
    text-align: right;

}
.buttonFor {
    background-color: #6F93A3;
    border: solid 2px #6F93A3;
    font-size: 16px;
    font-style: italic;
    width: 150px;
    height: 21px;
    margin: 10px;
}

/*------Página Register----*/
.inputRegister{
    border-radius: 5px 5px 5px 5px;
    border: solid 2px black;
    background-color: whitesmoke;
    width: 249px;
    height: 30px;
}
.logoRegister {
    display: flex;
    border-radius: 130px 130px 130px 130px;
    width:190px;
    height: 190px;
    box-shadow: 7px 7px 7px;
    margin-top: -130px;
   }
.buttonBack{
    background-color: #8cdbe4;
    opacity: 85%;
    width: 84px;
    height: 29px;
    border-radius: 5px;
    position: fixed;
    margin-top: -730px;
    margin-left: -250px;
}
.registerHere {
    font-size: 36px ;
    /*font-family: ;*/
    width: 250px;
    height: 46px;
    margin: 0px;
    margin-left: 35px;
}

.buttonSingUp {
    background-color: #1fc2d4;
    border: solid 2px black;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    margin: 20px;
    font-size: 20px;
    box-shadow: 7px 7px 7px;

}

/*------Página Forgot----*/

.logoForgot {
    display: flex;
    border-radius: 130px 130px 130px 130px;
    width:190px;
    height: 190px;
    box-shadow: 7px 7px 7px;
    margin-top: -130px;
   }

.forgotYourPassword{
    font-size: 26px ;
    /*font-family: ;*/
    width: 300px;
    height: 46px;
    margin: 2%;
    margin-left: 35px;
}
.buttonSave{
    background-color: #1fc2d4;
    border: solid 2px black;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    margin: 20px;
    font-size: 20px;
    box-shadow: 7px 7px 7px;

}

.inputForgot{
    border-radius: 5px 5px 5px 5px;
    border: solid 2px black;
    background-color: whitesmoke;
    width: 249px;
    height: 30px;
}

.textForgot{
 font-size: 25px;
 margin: 5px;
}
