.buttonLog{
    background-color: rgb(66, 146, 19);
}
body{
   background-image: url(src/viajes.jpg);
    /*background-color: rgb(69, 42, 165);*/
}

.buttonHome {
background-color: blueviolet;
}

.buttonReg {
    background-color: aqua;
}