body,
html {
    height: 100%;
    background-image: url(viaje4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: scroll;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(111, 147, 163, 0.8);
    width:300px; 
    height:470px; 
    margin-top: 150px;
    border-radius: 20px;
    font-size: 1.8rem;
}

.logo {
    display: flex;
    border-radius: 100% ;
    width: 70%;
    height: 40%;
    box-shadow: 7px 7px 7px;
    margin: 20px;
    margin-top: -150px;
}

.inputHome {
    border-radius: 7px;
    border: none;
    background-color: whitesmoke;
    width: 80%;
    height: 8%;
    font-size: 1rem;
}

.buttonLog {
    background-color: #1FC2D4;
    border: none;
    border-radius: 5px;
    width: 60%;
    height: 7%;
    font-size: 1rem;
    box-shadow: 7px 7px 7px;
    margin: 5%;
    cursor: pointer;
}

.buttonLog:hover {
    background-color: aquamarine;
}

.buttonReg {
    font-size: 1rem;
    cursor: pointer;
}
.buttonReg:hover{
    color:rgb(6, 6, 135);
}

.accessGoogle {
    background-image: url(../src/assets/solologoGoogle.png);
    background-size: 18%;
    background-color: white;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    box-shadow: 7px 7px 7px;
    padding: 7px;
    width: 60%;
    height: 8%;
    font-size: 0.9rem;
    text-align: right;
    cursor: pointer;
    margin-bottom: 6%;
}
.accessGoogle:hover{
    background-color: #d4dfe0;
}
.buttonFor {
   
    font-size: 1rem;
    cursor: pointer;
}
.buttonFor:hover{
    color:rgb(6, 6, 135);
}
.textHome{
    font-size: 1.5rem;
    margin: 2%;
}
/*------Página Register----*/
.inputRegister {
    border-radius: 7px;
    border: none;
    background-color: whitesmoke;
    width: auto;
    height: 6%;
    font-size: 1rem;
}

.logoRegister {
    display: flex;
    border-radius: 130px 130px 130px 130px;
    width: 190px;
    height: 190px;
    box-shadow: 7px 7px 7px;
    margin-top: -130px;
}

.buttonBack {
    background-color: #8CDBE4;
    opacity: 85%;
    width: 84px;
    height: 29px;
    border-radius: 5px;
    border: none;
    position: fixed;
    margin-top: -730px;
    margin-left: -250px;
    cursor: pointer;
}

.buttonBack:hover {
    background-color: aquamarine;
}

.registerHere {
    font-size: 30px;
    margin: 5px;
    margin-left: 10px;
}


.buttonSingUp {
    background-color: #1FC2D4;
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    margin: 20px;
    font-size: 20px;
    box-shadow: 7px 7px 7px;
    cursor: pointer;
}

.buttonSingUp:hover {
    background-color: aquamarine;
}

/*------Página Forgot----*/
.logoForgot {
    display: flex;
    border-radius: 100%;
    width: 70%;
    height: 40%;
    box-shadow: 7px 7px 7px;
    margin-top: -130px;
}

.forgotYourPassword {
    font-size: 26px;
    margin: 5%;
    margin-left: 10px;
}
.textForgot {
    font-size: 20px;
    margin: 5px;
}

.buttonSave {
    background-color: #1FC2D4;
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    margin: 20px;
    font-size: 20px;
    box-shadow: 7px 7px 7px;
    cursor: pointer;
}

.buttonSave:hover {
    background-color: aquamarine;
}

.inputForgot {
    border-radius: 7px;
    border: none;
    background-color: whitesmoke;
    width: auto;
    height: 6%;
    font-size: 1rem;
}

/*---------TimeLine---*/
.divPadre {
    height: 100%;
    width: 90%;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    
    
}

.logoPost {
   display: flex;
   flex-direction: column;
   border-radius: 100%;
    width: 20%;
    height: 20%;
    box-shadow: 7px 7px 7px;
    margin-left: 10%;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 4rem;
}

.buttonHome {
    background-color: #f1463a;
    font-size: auto;
    width: 20%;
    height: 4%;
    border-radius: 5px;
    border: none;
    position: relative;
    margin-left: 80%;
    margin-top: 5%;
    cursor: pointer;
}

.buttonHome:hover {
    background-color: aquamarine;
}

/*----------Formulario------------*/
.form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: rgba(241, 241, 241, 0.8);
    border-radius: 10px;
    padding: 2%;
    margin: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

#title {
    font-size: 1rem;
    height: auto;
    width: auto;
    outline: 0;
    padding: 2%;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    border-radius: 100px;
    border: solid 1px black;
}

#description {
    font-size: 1rem;
    height: auto;
    width: auto;
    background-color: #f1f1f1;
    border: solid 1px black;
    margin-bottom: 15px;
    border-radius: 100px;
}

.buttonPost {
    width: 25%;
    height: 25%;
    border-radius: 5px;
    font-size: 1rem;
    background: #1FC2D4;
    margin-left: 35%;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttonPost:hover{
 background-color: aquamarine;
}

/*---------Div de los post-----------*/
.containerDataPost {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: rgba(241, 241, 241, 0.5);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerPostview {
    height: 20%;
    width: auto;
    margin: 1%;
    padding: 2%;
    line-height: 0.9;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 1rem;
}

.containerBttn {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.bttnlike {
    width: 30px;
    height: 30px;
    margin: 1%;
    border-radius: 10px;
    border:#d4dfe0;
    background-image: url(like_535285.png);
    background-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}
.bttnlike:active{
    background-image: url(heart_3482383.png);
}

.bttnDelete {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border:#d4dfe0;
    margin: 1%;
    font-size: auto;
    background-image: url(delete_3363974.png);
    background-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.btnEdit {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border:#d4dfe0;
    margin: 1% 1% 1% 60%;
    background-image: url(edit_1159633.png);
    background-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.sumLikes {
    
    
    font-size: 1rem;
}


@media screen and (max-width: 700px) {
    .welcome {
        font-size: 180%;
    }

    .buttonHome {
        margin-left: 75%;
    }

    .logoPost {
        width: 50%;
        height: 50%;
        margin-left: 17%;
    }
}

@media screen and ( min-width:700px) and (max-width: 850px){
    .divPadre {
        width: 62%;
    }
    .welcome {
        font-size: 3rem;
    }
    .logoPost {
        width: 50%;
        height: 50%;
        margin-left: 25%;
    }
    .buttonHome {
        margin-left: 90%;
    }

    .form {

        width: auto;
        font-size: 1.3rem;
    }

    .containerDataPost {
        width: auto;
    }

}


.footer {
    display: flex;
    color: aliceblue;
    font-size: auto;
    justify-content: center;
    width: auto;
    padding: 2%;
}